/**
 * Created by Vladyslav Lyfar on 04.10.2018.
 */
.THIS {
    background-color: #fff;
    max-height: 100%;
}
.THIS.slds-box {
    padding: .5rem;
}
.THIS .KanbanColumn__header {

}
.THIS .KanbanColumn__header--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.THIS .slds-form-element__label {
    display: none;
}
.THIS .slds-button-group-row {
    margin-top: .5rem;
}