/**
 * Created by Vladyslav Lyfar on 09.10.2018.
 */
.THIS {
    padding: 1rem;
    width: 15rem;
    display: none;
    z-index: 100;
    background-color: #fff;
}
.THIS .customPopover__close-btn {
    top: .5rem;
    right: .5rem;
}
.THIS.is-show {
    display: block;
}